[Unit]
Description=auto run hmi after psplash-quit service
After=getty@tty1.service weston.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/hmi.sh


[Install]
WantedBy=multi-user.target
